/**
 * ヘッダーのスタイル設定
 */

.header {
    padding: 1.6vw;

    &__ttl {
        width: 160px;
        height: 50px;
        margin-bottom: 80px;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    &__logout {
        padding: 8px 0;
        background-color: $colorWhite;
        border: none;
        color: $colorBlue;
        font-family: $font;
        font-size: 1rem;
        font-weight: 700;
    }
}