/**
 * メモメニューのスタイル設定
 */

.menu {
    font-weight: 700;

    &__create {
        margin-bottom: 54px;
    }

    &__ttl {
        margin-bottom: 16px;
        font-size: 14px;
    }

    &__ul {
        margin-bottom: 40px;
    }

    &__li {
        padding: 8px 0;
    }

    &__link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__logout {
        padding: 8px 0;
        background-color: $colorWhite;
        border: none;
        color: $colorBlue;
        font-family: $font;
        font-size: 1rem;
        font-weight: 700;
    }
}