/**
 * 共通のスタイル
 */

// メディアクエリ
 // .onlySP -> スマホ幅のみ表示
@media #{$pc} {
    .onlySP {
        display: none !important;
    }
}

// .onlyPC -> PC幅のみ表示
@media #{$sp} {
    .onlyPC {
        display: none !important;
    }
}

// body全体の文字色、フォントを設定
body {
    color: $colorBlue;
    font-family: $font;
}

// layout - default.vueのスタイル設定
.app {
    &__header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 17vw;
        height: 100vh;
        background-color: $colorWhite;
    }

    &__border {
        border-right: 1px solid $colorBlueOpacity;
    }

    &__main {
        padding-left: 17vw;
    }
}