/**
 * 共通のスタイル
 */

// メディアクエリ
 // .onlySP -> スマホ幅のみ表示
@media #{$pc} {
    .onlySP {
        display: none !important;
    }
}

// .onlyPC -> PC幅のみ表示
@media #{$sp} {
    .onlyPC {
        display: none !important;
    }
}

// body全体の文字色、フォントを設定
body {
    color: $colorBlue;
    font-family: $font;
}